<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>



<!-- 

<details>
 <div style="display:none"><p>这一年，令我们生活更美好的50件好东西。.</p>
</details> -->

<!-- // <script type="text/javascript"> -->
<!-- // var msg_desc = "这一年，令我们生活更美好的50件好东西。"; -->
<!-- // </script> -->


<section class="section">
          <div style="display:none"><img src="http://github.com/931743010/931743010.github.io/raw/master/ioc.jpg" /></div>
</section>

<!-- http://github.com/931743010/931743010.github.io/raw/master/ioc.jpg -->

<!-- <img src="https://github.com/931743010/931743010.github.io/raw/master/tupian.jpeg"/> -->


<!-- <div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>     
<img src="http://github.com/931743010/931743010.github.io/raw/master/tupian.jpeg" width='700'></div> -->

    <!-- <audio autoplay style="position: absolute; right: 0; bottom: 0; z-index: 10;"> -->

<!--     <audio autoplay style="position: absolute; right: 0; bottom: 0; z-index: 10;">
    <source type="audio/mp3" src="https://github.com/931743010/931743010.github.io/raw/master/CNBLUE.mp3"></source>
    <source type="audio/ogg" src="https://github.com/931743010/931743010.github.io/raw/master/CNBLUE.ogg"></source>
    您的浏览器不支持HTML5媒体属性
    </audio> -->




    <!-- 播放按钮 -->
<!--     <div class="fix-audio">
      <a id="audio-btn" href="#">
        <i class="icon iconfont bf">&#xe651;</i>
        <i style="display: none;" class="icon iconfont gb">&#xe7fe;</i>
      </a>
      <audio autoplay loop id="audio-off">
        <source type="audio/mp3" src="https://github.com/931743010/931743010.github.io/raw/master/CNBLUE.mp3"></source>
        <source type="audio/ogg" src="https://github.com/931743010/931743010.github.io/raw/master/CNBLUE.ogg"></source>
        您的浏览器不支持HTML5媒体属性
      </audio>
    </div> -->
    <!-- 播放按钮 -->



    <!-- <audio controls="controls" autoplay="autoplay">
    <source src="https://github.com/931743010/931743010.github.io/raw/master/CNBLUE.ogg" type="audio/ogg" />
    Your browser does not support the audio element.
    </audio>
    
    <!--  <audio id="bgaudio" src="https://github.com/931743010/931743010.github.io/raw/master/CNBLUE.mp3"></audio>
    <script type="text/javascript">
    document.getElementById('bgaudio').play();
    </script>
    -->
    
    {% include nav.html %}
    <div id="post">
      <div id="pjax">
        {{ content }}
        {% include copyright.html %}
      </div> <!-- end #pjax -->

      <div id="post__toc-trigger">
        <div id="post__toc">
          <span id="post__toc-title">Table of Contents</span>
          <ul id="post__toc-ul"></ul>
        </div>
      </div>
    </div> <!-- end #post -->

    {% include footer.html %}
    {% include googleanalytics.html %}




<!-- 为什么这边不能自动播放呢 -->
 <script>
    $(function(){
      $(".full").fullpage({
        'css3':true,
        'navigationColor':'#ffffff',
        'slidesNavigation':true,
        'loopHorizontal':false,
        'verticalCentered': false, //内容是否垂直居中
        'afterLoad':function(){  //滚动后的回调函数
          var _index=$(this).index();
          $(this).addClass("active");
          $(this).find(".bg").addClass("bg-in bg-show");
        },
        'onLeave':function(){   //滚动前的回调函数
          $(this).removeClass("active");
          $(this).find(".bg").removeClass("bg-in bg-show");
        }
      });
      
      var auDio=$("#audio-off")[0];
      var off=true;
      var autoplay=true;
      
      $("body").on("touchstart",function(ev){
        if(autoplay&&auDio.paused){
          autoplay=false;
          auDio.play();
        }
      });
      
      $("#audio-btn").on("touchend",function(){
        var _this=$(this);
        if(off){
          off=false;
          _this.find(".bf").css("display","none");
          _this.find(".gb").css("display","block");
          auDio.pause();
        } else{
          off=true;
          _this.find(".gb").css("display","none");
          _this.find(".bf").css("display","block");
          auDio.play();
        }
      });
      
    })
  </script>


  </body>


</html>